/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Header styles */
header {
    background: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Main content styles */
main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

/* Scroll to top button */
.scroll-to-top {
    display: inline-block;
    padding: 0.6rem 2rem;
    background: rgb(48, 47, 47);
    color: whitesmoke;
    text-decoration: none;
    border-radius: 9px;
}

/* Footer styles */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 2.5rem;
}
